html{
    overflow-x: hidden !important;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #333;
}

img{
    max-width: 100%;
    height: auto;
}

*{
    box-sizing: border-box;
}

a{
    color: $mainOrange;
}

p{
    font-size: 1rem;
}

.red{
    color: $mainRed;
}

.blue{
    color: $mainBlue;
}

.hide-medium{
    @mixin atMedium{
        display: none;        
    }
}

.hide-large{
    @mixin atLarge{
        display: none;        
    }
}

.pt-1{
    padding-top: .5rem !important;
}

.fz-2{
    font-size: 1.2rem;
}