.adiestramiento{
    
    &__disclaim{
        font-size: 1.7rem;
        font-weight: 300;
    }
    
    &__item{
        border: 1px solid $mainBlue;
        margin-bottom: 2rem;
        color: $mainRed;
        height: 403px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    &__img--wrapper{
        text-align: center;
        box-shadow: 0px 2px 4px 0px rgba(188, 188, 188, .8);
    }
    
    &__precio{
        font-weight: bold;
        text-align: center;
        color: $mainRed;
        font-size: 7rem;
        
        &--consultar{
            font-size: 3.7rem;
        }
    }
    
    &__title{
        font-weight: 300;
        text-align: center;
        padding: 1rem;
        color: $mainBlue;
        margin-bottom: 0;
        
        &--box{
            text-align: left;
            color: $mainRed;
            font-size: 1rem;
            padding: .4rem;
            font-weight: 300;
        }
    }
    
    &__parrafo{
        text-align: left;
    }
    
    &__copy-wrapper{
        padding: 1rem;
        flex: auto;
        position: relative;
    }
    
    &__adapt{
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}