.gallery{
    
    &__item{
        margin: 1rem 0;
        overflow: hidden;
        
        img{
            width: 100%;
            height: 380px;
            transition: all .2s ease-out;
            
            @mixin atSmall{
                height: 450px;
            }
            
            @mixin atMedium{
                height: 350px;
            }
            
            &:hover{
                transform: translateY(4px);
            }
        }
    }
}