.page-section{
    padding: 2.2rem 0;
    
    @mixin atMedium{
        padding: 3.5rem 0;
        padding-bottom: 3.2rem;
    }
    
    &--no-padding-top{
        padding-top: 0;
    }
    
    &--no-padding-bottom{
        padding-bottom: 0;
    }
    
    &--all-h{
        height: 100vh;
    }
}