.page-section{
    padding: 4.2rem 0;
    padding-bottom: 2rem;
    
    @mixin atMedium{
        padding: 4.5rem 0;
        padding-bottom: 4.2rem;
    }
    
    &--all-h{
        height: 100vh;
    }
}